<nav class="navbar navbar-expand-lg fixed-top trans-navigation" data-bs-theme="dark">
  <div class="container">
	<div data-v-component-site>	
		<a class="navbar-brand font-tertiary h3" href="/" data-v-url-params='{"host":"www.*.*"}'>
		   <img src="images/logo.png" loading="lazy" class="logo-default b-logo" data-v-site-logo>
		   <img src="images/logo.png" loading="lazy" class="logo-sticky b-logo" data-v-site-logo-sticky>
		   <img src="images/logo.png" loading="lazy" class="logo-default-dark b-logo" data-v-site-logo-dark>
		   <img src="images/logo.png" loading="lazy" class="logo-default-dark-sticky b-logo" data-v-site-logo-dark-sticky>
		</a>
	</div>    

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <i class="fa fa-bars"></i>
      </span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="mainNav" data-v-component-menu="header" data-v-slug="main-menu">
		<ul class="navbar-nav ms-auto" data-v-menu-items>
		  <li class="nav-item dropdown" data-v-menu-item data-v-class-if-has-dropdown="category.children > 0">
			
			<a class="nav-link" href="#" data-v-class-if-dropdown-toggle="category.children > 0" aria-haspopup="true" aria-expanded="false" data-v-menu-item-url>
				<span data-v-menu-item-name>Resources</span>
			</a>
			
			<div class="dropdown-menu" data-v-menu-item-recursive>
			  <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
				<a class="dropdown-item" href="https://github.com/givanz/VvvebJs/wiki" data-v-menu-item-url><span data-v-menu-item-name>User Documentation</span></a>
			  </div> 
			  <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
				<a class="dropdown-item" href="https://github.com/givanz/VvvebJs/wiki" data-v-menu-item-url><span data-v-menu-item-name>Developer Documentation</span></a>
			  </div> 
			</div>
		  </li>
		  <li class="nav-item" data-v-menu-item>
			<a class="nav-link" href="https://blog.vvveb.com"  data-v-menu-item-url><span data-v-menu-item-name>Blog</span></a>
		  </li>
		  <li class="nav-item" data-v-menu-item>
			<a class="nav-link" href="https://www.vvveb.com/page/contact"  data-v-menu-item-url><span data-v-menu-item-name>Contact</span></a>
		  </li>
		  <li class="nav-item" data-v-menu-item>
			<a class="nav-link" href="https://www.vvveb.com"  data-v-menu-item-url><span data-v-menu-item-name>About us</span></a>
		  </li>
	</ul>
    </div>
  </div>
</nav>
<!--MAIN HEADER AREA END -->
