<div class="row mt-5 mt-lg-0">
  <div class="col-lg-12">
    <div class="sidebar-widget search">
      <div class="form-group">
		<form method="get" action="/search">
			<input type="hidden" name="type" class="posts">
			<div class="input-group">
			  <input type="text" name="search" class="form-control" placeholder="Search for...">
			  <button class="btn btn-sm btn-light" type="submit">
				<i class="fa fa-search"></i>
			  </button>
			</div>
		</form>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="sidebar-widget about-bar" data-v-component-site>
      <h5 class="mb-3">About us</h5>
		<p data-v-site-description>Nostrum ullam porro iusto. Fugit eveniet sapiente nobis nesciunt velit cum fuga doloremque
        dignissimos asperiores</p>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="sidebar-widget category" data-v-component-content-categories="sidebar" data-v-type="categories" data-v-post_type="post">
      <h5 class="mb-3">Category</h5>
      <ul class="list-styled" data-v-cats>
		  <li data-v-cat>
			<a href="content/category.html"  data-v-cat-url data-v-cat-name>Web Design</a>
		  </li>
		  <li data-v-cat>
			<a href="content/category.html"  data-v-cat-url data-v-cat-name>HTML</a>
		  </li>
		  <li data-v-cat>
			<a href="content/category.html"  data-v-cat-url data-v-cat-name>Freebies</a>
		  </li>
		</ul>
	</div>
  </div>

  <div class="col-lg-12">
    <div class="sidebar-widget tag" data-v-component-content-categories="sidebar" data-v-type="tags"  data-v-post_type="post">
		<div data-v-cats class="tags">
		  <span data-v-cat>
			<a href="content/index.html"  data-v-cat-url data-v-cat-name>Web</a>
		  </span>
		  <span data-v-cat>
			<a href="content/index.html"  data-v-cat-url data-v-cat-name>Development</a>
		  </span>
		  <span data-v-cat>
			<a href="content/index.html"  data-v-cat-url data-v-cat-name>Seo</a>
		  </span>
		  <span data-v-cat>
			<a href="content/index.html"  data-v-cat-url data-v-cat-name>Marketing</a>
		  </span>
		</div>		
    </div>
  </div>
  <div class="col-lg-12">
    <div class="sidebar-widget download">
      <h5 class="mb-4">Download Files</h5>
      <a href="#!"> <i class="fa fa-file-pdf"></i>Company Manual</a>
      <a href="#!"> <i class="fa fa-file-pdf"></i>Company Profile</a>
    </div>
  </div>

</div>
